@font-face {
    font-family: 'oswlad';
    src:url('../assets/Fonts/Oswald-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  };

@font-face {
    font-family: 'oswald';
    src: url('../assets/Fonts/Oswald-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
};