@use "../../styles/global.scss" as *;
@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.card{
    padding: 1rem 0;
    width: 100%;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 50%;

    @include tablet{
        left: 0;
        margin: 1rem;
    }

    &__img{
        width: 100%;
        border-radius: 0.25rem;

        @include tablet{
            height: 8rem;
            object-fit: cover;
        }

        @include desktop{
            height: 15rem;
        }
    }

    &__title{
        display: flex;
        justify-content: center;
        font-size: 5vw;

        @include tablet{
            font-size: 2rem;
        }
    }

}