@use "../../styles/global.scss" as *;
@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.card{
    padding: 1rem 0;
    width: 100%;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 50%;

    @include tablet{
        left: 10%;
        margin: 0rem;
        width: 80%;
        align-items: center;
        height: 30vw;
    }

    @include desktop{
        height: 35vw;
    }

    &__img{
        width: 100%;
        border-radius: 0.25rem;

        @include tablet{
            height: 100%;
            object-fit: cover;
        }

        @include desktop{
            height: 30vw;
        }
    }

    &__title{
        display: flex;
        justify-content: center;
        font-size: 5vw;
        text-align: center;

        @include tablet{
            font-size: 1.5rem;
        }
    }

}

.card__img:hover{
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
}