@use "../../styles/global.scss" as *;
@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;


.header{
    width: 100%;
    padding:0 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $Primaryblue;
    align-items: center;
    
    &__title{
        font-size: 3.5vw;
    }

    &__button{
        height: 10vw;
        max-height: 3rem;
        width: 35vw;
        font-size: 3vw;
        margin: auto 0;
        border-radius: 0.25rem;
        border: none;
        background-color: $ButtonColor;
        font-weight: 600;

        @include tablet{
            width: 13rem;
            font-size: 1rem;
        }

    }


    &__logo{
        width: 18vw;
        border-radius: 0.25rem;
        margin-top: .25rem;

        @include tablet{
            width: 7rem;
        }

        @include desktop{
            width: 8rem;
        }
    }
}